
.icons
    display: flex
    justify-content: center
    align-items: center
    width: 55px
    height: 28px
    border-radius: 3px
    transition: all .3s
    &:hover
        background-color: #414144
        .icon
            opacity: 1

.icon
    cursor: pointer
    transition: all .3s
    position: relative
    &:last-child
        opacity: 0
//////////////////////////////////////

.cell
    background-color: transparent
    border-radius: 6px
    border: 1px solid transparent
    color: #FFFFFF
    font-weight: 400
    font-size: 14px
    line-height: 130%
    letter-spacing: 0.01em
    color: #fff
    padding: 8px

.cell.active
    pointer-events: auto
    color: #71717a
    border-radius: 6px
    border: 1px solid #414144
    &:focus
        outline: none


